<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>柱状-折线混合图</title>

</head>
<body>
<div id="main" style="width: 600px;height:400px;"></div>
</body>
</html>

<!-- 引入 echarts.min.js -->
<script th:src="@{/js/echarts.min.js}"></script>
<script type="text/javascript">

    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    myChart.showLoading({
        text: '读取数据中...' //loading，是在读取数据的时候显示
    });

    myChart.setOption({ //绘制图案
        title: {
            text: "测试",
            subtext: '参考实例：https://echarts.apache.org/examples/zh/editor.html?c=mix-line-bar',
            x: 'center',
            y: 0,
            textStyle: {
                //fontFamily: 'sans-serif',
                //fontWeight: 'normal',
                //fontStyle: 'normal',
                //fontSize: 15
            },
        },
        //是否开启动画效果
        animation: true,
        //提示框显示为轴线
        tooltip: {
            trigger: 'axis'
        },
        //图例样式
        legend: {
            type: 'scroll',
            top: 45,
            data: ['数量', '比例'],
        },

        //数据区到周边的距离
        grid: {
            top: '20%',
            left: "2%",
            right: '2%',
            bottom: '2%',
            containLabel: true
        },

        //绘制X轴
        xAxis: {
            type: 'category',
            data: ['2012', '2013', '2014', '2015', '2016'],
            axisTick: {
                alignWithLabel: true
            }
        },
        //绘制Y轴
        yAxis: [
            { //Y轴维度1
                type: 'value',
                name: '数量',
            },
            { //Y轴维度2
                type: 'value',
                name: '比例',
                min: 0,
                max: 1,
                splitLine: {
                    show: false //隐藏标线
                },
                axisLabel: { //格式：加%
                    formatter: '{value}'
                },
            }
        ],
        series: [
            {
                name: '数量',
                type: 'bar',  //显示为柱状图
                barGap: 0,
                barWidth: 30, //柱状图宽度
                itemStyle: {  //柱状图颜色
                    color: '#4ECDC4' //'#B4CAE3'
                },
                label: { //柱状图上方显示数值
                    show: true,
                    position: 'top'
                },
                //数据
                data: [320, 332, 301, 334, 390]
            },
            {
                name: '比例',
                type: 'line',  //显示为折线图
                yAxisIndex: 1, //与Y轴对应的维度看齐
                itemStyle: {   //折线颜色
                    color: '#797979'
                },
                //数据
                data: [0.65, 0.2, 0.71, 0.60, 0.80],

            }
        ]
    }, true);

    myChart.hideLoading();//隐藏读取数据提示信息

</script>