<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>仪表盘-1</title>
</head>
<body>
<div id="main" style="width: 600px;height:400px;"></div>
</body>
</html>

<!-- 引入 echarts.min.js -->
<script th:src="@{/js/echarts.min.js}"></script>
<!-- th:inline="none"解决二维数组解析异常 -->
<script th:inline="none">

    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    var option = {
        tooltip: {
            formatter: '{a} <br/>{b} : {c}%'
        },
        toolbox: {
            feature: {
                restore: {},
                saveAsImage: {}
            }
        },
        series: [{
            name: '性能',
            type: 'gauge',
            detail: {formatter: '{value}%'},
            data: [{value: 50, name: 'CPU使用率'}],
            axisLine: {            // 坐标轴线
                lineStyle: {       // 属性lineStyle控制线条样式
                    color: [[0.5, '#4ECDC4'], [0.8, '#FCB322'], [1, '#FF6B6B']],
                    width: 10,
                }
            },
        }]
    };

    setInterval(function () {
        option.series[0].data[0].value = (Math.random() * 100).toFixed(2) - 0;
        myChart.setOption(option, true);
    }, 2000);
</script>