<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>折线图-2</title>
</head>
<body>
<div id="main" style="width: 600px;height:400px;"></div>
</body>
</html>

<!-- 引入 echarts.min.js -->
<script th:src="@{/js/echarts.min.js}"></script>
<!-- th:inline="none"解决二维数组解析异常 -->
<script th:inline="none">

    //绘制折线图
    echarts.init(document.getElementById('main')).setOption({
        title: {
            text: 'ECharts 折线图示例',
            x: 'center',
            y: 0,
        },

        //提示框
        tooltip: {},

        //图例样式
        legend: {
            top: 30,
            data: ['销量'],
        },
        //启用工具栏
        toolbox: {
            feature: {
                //数据视图
                dataView: {},
                //保存为图片文件
                saveAsImage: {
                    pixelRatio: 2
                },
                //刷新
                restore: {}
            }
        },

        //X轴，Y轴绑定坐标
        xAxis: {
            name: '天数',
        },
        yAxis: {
            name: '销量'
        },
        series: [{
            name: '销量',
            type: 'line',
            //启用曲线
            smooth: true,
            //数据对应x轴和y轴的坐标
            data: [[12, 5], [24, 20], [36, 36], [48, 10], [60, 10], [72, 20]],
            //折线样式
            itemStyle: {
                color: '#4ECDC4'
            },
        }],
    });
</script>