<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta charset="utf-8">
    <title>柱状图-1</title>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 600px;height:400px;"></div>
</body>
</html>

<!-- 引入 echarts.min.js -->
<script th:src="@{/js/echarts.min.js}"></script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    var option = {
        //定义标题
        title: {
            text: 'ECharts 柱状图示例',
            x: 'center',
            y: 0,
        },
        //提示框样式（默认）
        tooltip: {},
        //定义图例名称
        legend: {
            data: ['销量'],
            top: 30,
            left: 500
        },
        //定义x轴
        xAxis: {
            data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
        },
        //定义y轴
        yAxis: {
            type: 'value',
            name: '销量',
            min: 0,
            max: 40,
        },
        series: [{
            name: '销量',
            //数据展示类型：柱状图
            type: 'bar',
            //展示的数据
            data: [5, 20, 36, 10, 10, 20],
            //样式定义
            itemStyle: {
                color: '#4ECDC4'
            },
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>